.header-container{
    background-color: black;
    color: white;
    padding: 0px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
}

// .bg-color-black span {
//     color: white; padding: 0px 15px 0px 15px;
// }
    
