<h3>{{'SEARCH.HEADING' | translate}}</h3>
<div class='search-form'>
  <h3>{{'SEARCH.TITLE' | translate}}</h3>
  <form (ngSubmit)="onSubmitFunction()" #f="ngForm">
    <div class="form-group">
      <input type="text" class="form-control" id="order" name="OrderNo" ngModel placeholder="{{'SEARCH.ORDER' | translate}}"><br>
      <input type="text" class="form-control" id="shipment" name="ShipmentNo" ngModel placeholder="{{'SEARCH.SHIPMENT' | translate}}"><br>
      <input type="text" class="form-control" id="fname" name="FirstName" ngModel placeholder="{{'SEARCH.FNAME' | translate}}"><br>
      <input type="text" class="form-control" id="lname" name="LastName" ngModel placeholder="{{'SEARCH.LNAME' | translate}}"><br>
      <input type="email" class="form-control" id="email" name="EMailID" ngModel placeholder="{{'SEARCH.EMAIL' | translate}}"><br>
      <input type="text" class="form-control" id="phone" name="DayPhone" ngModel placeholder="{{'SEARCH.PHONE' | translate}}"><br>

      <div style="text-align: right;">
        <button type="button" class="btn btn-default form-btn" (click)="resetForm()">{{'SEARCH.RESET' | translate}}</button>
        <button type="submit" class="btn btn-default form-btn">{{'SEARCH.SEARCH' | translate}}</button>

      </div>
    </div>
  </form>
</div>